#part-4{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background: transparent;
    background: rgb(0, 0, 0, 0.4);
    padding: 10px;
}
.part-4-0{
    width: 100%;
    height: 10%;
    display: flex;
    color: white;
    /* text-align: center; */
    font-size: 50px;
    justify-content: center;
    font-family: "Custom";
}
.part-4-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    padding: 50px 0px 0px 0px;
    /* border: 2px solid rgb(255, 255, 255); */
}
.part-4-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    padding: 50px 0px 0px 0px;
    /* border: 2px solid rgb(255, 255, 255); */
}
.card{
    width: 25%;
    height: 75%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 15px 15px #303030;
    background-color: rgba(24, 24, 24, 0.5);
}
.card p{
    font-size: 13px;
    margin: 20px 25px 0px 25px;
}
.links{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid rgb(15, 0, 223);
    background: rgba(0, 7, 148, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.L{
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: left;
    padding: 25px 0px 20px 20px;
    display: flex;
    flex-direction: row;
}
.R{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0px 20px 20px;
    /* padding-inline: 20px; */
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------ MOBILE VIEW -------------------------------------------------- */

@media screen and (max-width: 500px){
    .fa-brands,
    .fa-solid{
        display: none;
    }
.Contain-4{
        background-image: url(../assets/imG31.png);
        background-size: cover;
        width: 100vw;
        height: 150vh;
    }
    #part-4{
        height: 100%;
        padding: 40px 10px 10px 10px;
        /* display: none; */
    }
    .part-4-0{
        font-size: 35px;
        height: 10%;
        /* display: none; */
    }
    .part-4-1{
        height: 55%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 0px 0px;
        /* display: none; */
    }
    .part-4-2{
        height: 45%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0px 0px 0px;
    }
    .card{
        height: 25%;
        width: 100%;
        font-size: 10px;
        /* display: none; */
    }
    .card p{
        margin-top: 25px;
    }
    .part-4-2 .card{
        height: 34%;
    }
    .links{
        height: 40%;
    }
    .L{
        padding: 0px 0px 0px 20px;
        /* display: none; */
    }
    .R{
        padding: 0px 20px 0px 00px;
        /* display: none; */
    }
    .con{
        font-size: 20px;
        /* display: none; */
    }
    #project-icons{
        font-size: 25px;
    }
}   