#part-3{
    width: 100vw;
    height: 92vh;
    background: rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}
.skill{
    width: 100%;
    height: 20%;
    /* border: 2px solid blue; */
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 15px;
    font-family: "Custom";
}
.skill-1{
    width: 100%;
    height: 80%;
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skill-1-L{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.skill-1-L-2{
    width: 100%;
    height: 15%;
    /* border: 2px solid rgb(13, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Lang{
    width: 80%;
    height: 80%;
    /* border: 2px solid rgb(255, 0, 0); */
    text-align: left;
    font-size: 25px;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
    letter-spacing: 3px;
}
.Progress{
    width: 80%;
    height: 17%;
    border: 2px solid rgb(0, 4, 255);
    border-radius: 25px;
    box-shadow: 8px 6px #000042;
}
.Progress-1{
    width: 90%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-2{
    width: 75%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-3{
    width: 55%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-4{
    width: 30%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-5{
    width: 40%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-6{
    width: 90%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-7{
    width: 60%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-8{
    width: 75%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-9{
    width: 40%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.Progress-10{
    width: 70%;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}
.skill-1-R{
    width: 35%;
    height: 90%;
    padding-top: 0px;
    background-image: url(../assets/imG22.png);
    background-size: cover;
}

/* ------------------------------------------ MOBILE VIEW -------------------------------------------------- */
@media screen and (max-width: 500px){
    .fa-brands,
    .fa-solid{
        display: none;
    }
    .Contain-3{
        background-image: url(../assets/imG31.png);
        background-size: cover;
        height: 120vh;
    }
    #part-3{
        height: 100%;
        /* display: none; */
    }
    .skill{
        font-size: 35px;
        height: 10%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* display: none; */
    }
    .skill-1{
        height: 85%;
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        /* display: none; */
    }
    .skill-1-L{
        width: 100%;
        height: 100%;
        /* justify-content: center; */
        /* display: none; */
    }
    .Lang{
        width: 100%;
        height: 70%;
        font-size: 18px;
        letter-spacing: 0;
        padding: 0px 0px 0px 30px;
        /* display: none; */
    }
    .Progress{
        width: 90%;
        height: 20%;
        /* display: none; */
    }
    .skill-1-R{
        display: none;
    }
}